h1{
  color: green;
  font-family: 'Lobster', cursive;
}
.instagram{
  width:30px;
  margin-left: 800px;
  flex:left;
}
    .avatar {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .theprofile {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}
.icons{
  border-radius: 50%;
}
