{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    
       
            
        {%for image in images%}
        <div class="row">
                <div class="col-sm-4 col-md-3"></div>
                <div>
                <div class="col-sm-4 col-md-3">

 <!-- <h2 class="text-center">{{image.image_name}}</h2><br> -->
 
    <img src="{{image.image_path.url}}"  alt="" height="400">&nbsp;&nbsp;&nbsp;&nbsp;
    
            
            {% autoescape on %}
            {{image.caption| safe}}
            {% endautoescape %}
        </div>
    </div>
        <div class="col-sm-4 col-md-4"></div>
        </div>
        {%endfor%}
   
    </div>
{% endblock %}
    